name: Build and Deploy Astro to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v5
      # Install Nix
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      # Load csv data
      - name: Load csv Data
        run: nix develop --command bash -c "bun install && bun load.ts"
      # Test Astro
      - name: Test Verification
        run: nix develop --command bash -c "bun install && bun run test"
      # Build Astro
      - name: Build Astro
        run: nix develop --command bash -c "bun install && bun run build"
      # Move _config.yml
      - name: Move _config.yml
        run: mv ./_config.yml ./dist/_config.yml
      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist
