name: Build and Deploy Astro

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Load CSV
        run: nix develop --command bash -c "bun install && bun load.ts"
      - name: Test verification
        run: nix develop --command bash -c "bun install && bun run test"
      - name: Build Astro
        run: nix develop --command bash -c "bun install && bun run build"
      - name: Commit and push docs
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add ../docs
          git commit -m "Deploy Astro site" || echo "No changes to commit"
          git push
