name: Build and Deploy Astro (root docs)

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: web

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Load CSV
        run: bun load.ts

      - name: Install dependencies
        run: bun install

      - name: Build Astro
        run: bun run build

      - name: Commit and push docs
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add ../docs
          git commit -m "Deploy Astro site" || echo "No changes to commit"
          git push
