name: Test Astro

on:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    branches: ['main']
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Test Verification
        run: nix develop --command bash -c "bun i && bun run test"
      - name: Build Test Verification
        run: nix develop --command bash -c "bun i && bun run build"